@model CuaHangSachOnline.Models.Get_NH_forIDResult
@using CuaHangSachOnline.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/PageManagement/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản Lý Ngân Hàng</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Trang Quản Lý</li>
                    <li class="breadcrumb-item active">Quản Lý Ngân Hàng</li>
                    <li class="breadcrumb-item active">Sửa Ngân Hàng</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Sửa Ngân Hàng</h3>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                    <div class="form-group">
                        @Html.Label("Mã Ngân Hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaNganHang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaNganHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Tên Ngân Hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenNganHang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNganHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hình Thức Thanh Toán", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="HinhThucThanhToanIDHTTT" style="outline:none" class="form-control">
                                @foreach (var item in TempData["AllHTTT"] as List<AllHTTTResult>)
                                {
                                    <option value="@item.IDHTTT">
                                        @item.TenHTTT
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
